body {
    font-family: 'Open Sans';
    font-weight: 400;
    color: #393939;
    margin: 0;
}

.nitro-heading-nav {
    color: #393939;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 4rem;
    display: inline;
    
}

.nav-list {
    list-style-type: none;
    display: inline;
    
}
.nav-list__btn {
    display: inline;
    margin-left: 50px;
    text-decoration: none;
    color: #393939;
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 1.75rem;
    
}


.nav-list__btn a {
    text-decoration: none;
    color: #393939;
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 1.75rem;
}


nav {
    background-color: #fff0ed;
    height: 100px;
}

.nav-list__btn a:hover {
    color: #5BACC3;
}