.coffee-circle__header {

    background-color: #393939;
    color: white;
    width: 300px;
    height: 200px;
    font-family: 'Open Sans Regular', sans-serif;
    font-weight: 300;
    font-size: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    display: flex;;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}


.coffee-circle {
   
    width: 100vw;
    height: 1000px;
    align-items: center;
    background-image: url("../assets/images/coffee-circle.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
}



.menu-list {
    background-color: #393939;
    margin: 0;
    text-align: center;
    height: 80px;
    vertical-align:middle;
}

.menu-list__container {
    vertical-align:text-bottom
}

.menu-list li {
    color: white;
    font-size: 1.3125rem;
    font-weight: 400;
    display: inline;
    border-left: solid #5bacc5;
    padding-left: 1rem;
    padding-right: 1rem;
    border-width: 4px;      
}



.menu-container--pink {
    background-color: #fff0ed;
}

.menu-container__list-item--name {
    
    justify-content: center;
    text-align: center;
    list-style-type: none;
    text-align: center;
    font-family: 'Open Sans Regular', sans-serif;
    font-style: bold;
    font-size: 2.0625rem;
    font-weight: 400;
}

.menu-container__header {
    text-align: center;
    font-family: 'Open Sans Regular', sans-serif;
    font-style: bold;
    font-size: 3.75rem;
    font-weight: 300;
    margin: 0;
}

.overall-container {
    
    grid-template-rows: 3fr;
    row-gap: 3ch;
    

}

.menu-container--grey {
    background-color: #f7f7f7;
}

.menu-container__list-item--def {
    width:20%;
    list-style-type: none;
    text-align: center;
    font-family: 'Open Sans Regular', sans-serif;
    font-style: italic;
    font-size: 1.125rem;
    margin: 0 auto;

}

.menu-container__list-item--price {
    text-align: center;
    color: #5bacc5;
    font-size: 1.125rem;
    margin-bottom: 0;
}


.menu-container__list {
    list-style-type: none;
    margin-bottom: 0;
}

